#######################################################
# MyHUEnaise ignores files/directories in project     #
#######################################################

# Build directories
**/dist/

# Editors backup files
**/*~

# Node.js
**/node_modules/
npm-debug.log

# PHP modules
**/vendor/
composer.lock

# Tests
user.db
hue-id.json
