#######################################################
# MyHUEnaise ignores files/directories in project     #
#######################################################

# Build directories
**/dist/

# Editors backup files
**/*~
