/*
   This file is part of MyHUEnaise.

    MyHUEnaise is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    MyHUEnaise is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with MyHUEnaise.  If not, see <http://www.gnu.org/licenses/>.

*/
div.tab {
    width: 100%;
    display: flex;
}
div.action {
    width: 100%;
    display:inline-block;
}
.selected {
    background-color: #cfd8dc !important;
    color: white;
}
button {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Arial;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
    cursor: hand;
    border-radius: 4px;
}
button.action {
    float: right;
}
button.tab {
    flex: 1;
    border-right-style: solid;
    border-width: 1px;
    border-radius: 0px;
}
button.tab:first-of-type {
    border-top-left-radius: 4px;
}
button.tab:last-of-type {
    border-top-right-radius: 4px;
    border-right-style: none;
}
button:hover {
    background-color: #cfd8dc;
}
button.tab:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
}
label {
    display: inline-block;
    width: 10em;
    margin: .5em 0;
    color: #607D8B;
    font-weight: bold;
}
input {
    height: 2em;
    font-size: 1em;
    padding-left: .4em;
}
