<!--
   This file is part of MyHUEnaise.

    MyHUEnaise is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    MyHUEnaise is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with MyHUEnaise.  If not, see <http://www.gnu.org/licenses/>.

-->
<div *ngIf="bridge && bridge.userid">
  <!--<template [ngIf]="bridge.userid">-->
  <hue-bridge-detail [bridge]="detail" [connection]="bridge"></hue-bridge-detail>
  <!--</template>-->
  <!--<template [ngIf]="!bridge.userid">
    <h2>Bridge {{bridge.id}} details!</h2>
    <div><label>ID: </label>{{bridge.id}}</div>
    <div>
      <label>IP address: </label>
      <input [(ngModel)]="bridge.internalipaddress" placeholder="internalipaddress"/>
    </div>
    <div>PLOP !!!</div>
  </template>-->
</div>
