div.scrollable {
    overflow-x: auto;
}
select {
    background-color: #eee;
    height: 1.6em;
    display: inline-block;
}
select:first-of-type {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
select:last-of-type {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
