/*
   This file is part of MyHUEnaise.

    MyHUEnaise is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    MyHUEnaise is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with MyHUEnaise.  If not, see <http://www.gnu.org/licenses/>.

*/
div.scrollable {
    overflow-x: auto;
}
select {
    background-color: #eee;
    height: 1.6em;
    display: inline-block;
}
select:first-of-type {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
select:last-of-type {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
