/*
   This file is part of MyHUEnaise.

    MyHUEnaise is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    MyHUEnaise is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with MyHUEnaise.  If not, see <http://www.gnu.org/licenses/>.

*/
div.dual-list {
    width: inherit;
    display: flex;
}
div.dual-list div {
    flex: 1;
    margin: 5px;
}
div.dual-list-header {
    background-color: #eee;
    text-align: center;
    border-radius: 4px;
    padding: 5px 10px;
}
div.dual-list-item {
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
}
div.dual-list-item span {
    height: 100%;
    overflow: auto;
    width: 25px;
    background-color: LightGray;
    text-align: center;
}
div.dual-list-sel {
    padding-right: 5px;
    text-align: right;
    overflow: hidden;
}
div.dual-list-sel span {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    float: left;
    overflow: visible !important;
}
div.dual-list-avail {
    padding-left: 5px;
    text-align: left;
    overflow: hidden;
}
div.dual-list-avail span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    float: right;
    overflow: visible !important;
}
